.site-selector.site-selector {
  width: 100%;
  max-width: 360px;
  margin-bottom: 1.5em;
}

.site-selector-container {
  @media (max-width: 860px) {
    text-align: center;
  }

  @media (min-width: 861px) {
    padding-left: 20px;
  }
}
