@import 'src/styles/variables';

.timeslots {
  input[type=radio] {
    display: none;
  }

  input[disabled] {
    ~ * {
      display: none;
    }
  }

  .text-danger, .text-success {
    display: none;
  }

  input[type=radio]:not([disabled]) + span + span {
    display: block;
    line-height: 14px;
    font-size: 13px;

    @media (max-width: 1089px) and (min-width: 861px) {
      font-size: 11px;
    }
  }

  border: 1px solid transparent;

  &:focus {
    outline: none;
    color: darken($yellow, 10);
    border: 1px solid darken($yellow, 10);
    border-radius: 2px;
  }
}
