.timeslots {
  input[type=radio] {
    display: none;
  }

  input[disabled] {
    ~ * {
      display: none;
    }
  }

  .text-danger, .text-success {
    display: none;
  }

  input[type=radio]:not([disabled]) + span + span {
    display: block;
    line-height: 16px;

    @media (max-width: 940px) and (min-width: 781px) {
      font-size: 11px;
    }
  }
}
