$blue: #42cbec;
$yellow: #ffd700;

$black: darken($yellow, 40);
$offblack: rgba(0, 0, 0, 0.65);

$indigo: #1a237e;

$aquamarine: #6FFFE9;
$fountainblue: #5BC0BE;
$cloudburst: #1C2541;
$haiti: #0B132B;

$serif-font-stack: Cinzel;

$box-shadow: 0px 0px 6px 4px rgba($blue, 0.5);
