@import url(~antd/dist/antd.css);
@import 'src/styles/variables';

.app {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 861px) {
    padding-left: 0;
    padding-right: 0;
  }

  > .main {
    width: 100%;
  }
}

#root {
  min-height: 100%;
  margin: 0 10px;
  box-shadow: $box-shadow;

  @media (min-width: 600px) {
    max-width: 565px;
    margin: 0 auto;
  }

  @media (min-width: 861px) {
    max-width: 800px;
  }

  @media (min-width: 1090px) {
    max-width: 960px;
  }

  @media (min-width: 1260px) {
    max-width: 1130px;
  }
}

.pointer {
  font-family: $serif-font-stack;
  color: $black;
  font-size: 18px;

  margin: 10px -30px 20px;
  background: $yellow;
  padding: 10px 30px;
  box-shadow: -9px 1px 6px 2px rgba($blue, 0.5);
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 120%;
    top: -10%;
    left: -40px;
    box-shadow: 0px 0px 10px 9px white;
    background: white;
  }

  &:after {
    content: "";
    background: $yellow;
    position: absolute;
    width: 33px;
    height: 33px;
    right: -16px;
    top: 7px;
    transform: rotate(45deg);
    box-shadow: 0px 2px 6px 2px rgba($blue, 0.5);
    z-index: -9;
  }

  &.large {
    font-size: 28px;

    > * {
      font-size: 28px;
    }

    &:after {
      width: 44px;
      height: 44px;
      right: -22px;
      top: 9px;
    }
  }
}

.site-title {
  margin: 0;

  span {
    font-size: 1em;
  }
}

.slogan {
  @media (max-width: 860px) {
    text-align: center;
  }

  @media (min-width: 861px) {
    padding-left: 20px;
  }
}
