@import url(~antd/dist/antd.css);
@import 'src/styles/variables';

.app {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 861px) {
    padding-left: 0;
    padding-right: 0;
  }

  > .main {
    width: 100%;
  }
}

#root {
  min-height: 100%;
  margin: 0 10px;
  box-shadow: $box-shadow;
  position: relative;

  @media (min-width: 600px) {
    max-width: 565px;
    margin: 0 auto;
  }

  @media (min-width: 861px) {
    max-width: 800px;
  }

  @media (min-width: 1090px) {
    max-width: 960px;
  }

  @media (min-width: 1260px) {
    max-width: 1130px;
  }

  &:before {
    content: "";
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -10; 
  }
}

.pointer {
  font-family: $serif-font-stack;
  color: $black;
  font-size: 18px;

  margin: 10px -30px 20px;
  background: $yellow;
  padding: 10px 30px;
  box-shadow: -5px 5px 5px -3px rgba($blue, 0.8);
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    background: $yellow;
    position: absolute;
    width: 33px;
    height: 33px;
    right: -16px;
    top: 7px;
    transform: rotate(45deg);
    box-shadow: -1px 5px 5px 1px rgba($blue, 0.8);
    z-index: -9;
  }

  &.large {
    font-size: 28px;

    > * {
      font-size: 28px;
    }

    &:after {
      width: 44px;
      height: 44px;
      right: -22px;
      top: 9px;
    }
  }
}

.site-title {
  margin: 0;

  span {
    font-size: 1em;
  }

  a {
    color: $black;

    &:focus {
      text-decoration: underline;
    }
  }
}

.slogan {
  @media (max-width: 860px) {
    text-align: center;
  }

  @media (min-width: 861px) {
    padding-left: 20px;
  }
}

.whats-this {
  background: none;
  border: none;
  outline: none;
  font-style: italic;

  &:hover {
    color: darken($yellow, 10);
    cursor: pointer;

    span {
      border-bottom-color: darken($yellow, 10);
    }
  }

  &:active {
    color: $yellow;

    span {
      border-bottom-color: $yellow;
    }
  }

  &:focus {
    outline: none;
    color: darken($yellow, 10);

    span {
      border-bottom-width: 1px;
      border-bottom-color: darken($yellow, 10);
    }
  }

  span {
    border-bottom: 1px dashed $black;
  }
}
