.loading-plane {
  text-align: center;

  .message {
    display: block;
    margin: 0 auto;
    color: #73bed0;
    font-variant: small-caps;
    font-size: 15px;
    line-height: 11px;
  }

  .svg-plane {
    display: block;
    margin: 0 auto;
    animation: flying-plane ease-in-out 2s infinite;
  }
}

@keyframes flying-plane {
  from, to {transform: rotateX(0deg);}
  50% {transform: rotateX(50deg);}
}
