@import 'src/styles/variables';

.calendar {
  .ant-fullcalendar-header {
    .ant-radio-group {
      display: none;
    }
  }

  .ant-fullcalendar-value {
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 28px;
    font-family: $serif-font-stack;
    font-weight: 700;

    @media (max-width: 1259px) {
      top: 6px;
      right: 10px;
      font-size: 16px;
    }
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-content {
    height: 110px;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
    height: 123px;
    padding: 4px 6px;
    border-top-width: 1px;
  }

  .ant-fullcalendar-header {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-current-cell .ant-fullcalendar-month,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
    border-top-color: #e8e8e8;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-month,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-date {
    background: none;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-month-panel-selected-cell .ant-fullcalendar-value,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-value {
    color: rgba(0, 0, 0, 0.65);
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-month:hover,
  .ant-fullcalendar-fullscreen .ant-fullcalendar-date:hover {
    background: none;
    cursor: default;
  }

  .ant-fullcalendar-value:hover {
    cursor: default;
  }

  @media (max-width: 860px) {
    .ant-fullcalendar-calendar-body {
      display: none;
    }
  }

  .ant-select.ant-fullcalendar-month-select {
    min-width: 120px;
  }

  .ant-select.ant-fullcalendar-year-select {
    min-width: 120px;
  }

  .calendar.hide-dates {
    display: none;
  }
}

.calendar-list {
  display: none;
  margin-top: 20px;
  text-align: center;

  @media (max-width: 860px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .calendar-list-item {
    flex-basis: 100px;
    margin-bottom: 20px;
  }

  .date-day-month {
    margin-bottom: 0;
  }

  .date-day {
    margin-bottom: 0;
    font-size: 40px;
    font-family: $serif-font-stack;
  }
}

.months-selector-container {
  margin-bottom: 1.5em;

  @media (max-width: 860px) {
    text-align: center;
  }

  @media (min-width: 861px) {
    padding-left: 20px;
  }
}
