@import 'src/styles/variables';

.dates {
  @media (max-width: 1039px) {
    .sidebar {
      margin-bottom: 20px;
      border-bottom: 1px solid rgba($cloudburst, 0.16);
    }
  }

  @media (min-width: 1040px) {
    display: flex;
    text-align: right;

    .sidebar {
      flex: 0 0 230px;
      border-right: 1px solid rgba($cloudburst, 0.16);
    }
  }

  @media (min-width: 1276px) {
    > .sidebar {
      flex: 0 0 300px;
    }
  }

  .sidebar {
    background: white;
    padding: 10px;
    box-shadow: 0 0 12px rgba($cloudburst, 0.16);
  }
}

.dates > .calendar {
  margin-bottom: 16px;

  .ant-fullcalendar-header {
    .ant-radio-group {
      display: none;
    }
  }

  .ant-fullcalendar-value {
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 28px;

    @media (max-width: 1170px) {
      top: 6px;
      right: 10px;
      font-size: 16px;
    }
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-content {
    height: 110px;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-date {
    height: 123px;
    padding: 4px 6px;
    border-top-width: 1px;
  }

  .ant-fullcalendar-header {
    text-align: center;
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 1040px) {
      text-align: left;
      padding-left: 17px;
    }
  }

  @media (max-width: 860px) {
    .ant-fullcalendar-calendar-body {
      display: none;
    }
  }

  .ant-select.ant-fullcalendar-month-select {
    min-width: 120px;
  }

  .ant-select.ant-fullcalendar-year-select {
    min-width: 120px;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-today .ant-fullcalendar-date {
    border-top-color: $indigo;
  }

  .ant-fullcalendar-fullscreen .ant-fullcalendar-selected-day .ant-fullcalendar-value {
    color: $indigo;
  }
}

.calendar-list {
  display: none;
  margin-top: 20px;

  @media (max-width: 860px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .calendar-list-item {
    height: 180px;
    flex-basis: 144px;
  }
}
