@import "src/styles/variables";

body {
  margin: 0;
  padding: 0;
  font-family: Lato, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/bg.png);
  background-size: 500px 500px;
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-table-pagination.ant-pagination {
  float: none;
}

.ant-btn:hover, .ant-btn:focus {
  border-color: $yellow;
  color: darken($yellow, 40);
}

.ant-btn-primary.ant-btn-primary {
  background: $yellow;
  border-color: $yellow;
  color: $black;
}

.ant-btn.ant-btn {
  font-family: $serif-font-stack;
}

.ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: $yellow;
  border-left-color: $yellow;
}

.ant-btn-group .ant-btn-primary:last-child:not(:first-child),
.ant-btn-group .ant-btn-primary + .ant-btn-primary {
  border-left-color: $yellow;
}

.ant-spin {
  @media (min-width: 1040px) {
    position: fixed;
    left: 247px;
    top: 60px;
  }
  @media (min-width: 1276px) {
    left: 318px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* =Clearfix
----------------------------------------------- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
